<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style-home.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <img src="/static/357a9f7913b24a839409944b02f8a311 1.png" width="300px" height="150px">
        <div class="options">
            <span>Support</span>
            <span>Members</span>
            <button>Log out</button>
        </div>
    </div>
    <div class="main-container">
        <div class="horizental-navbar">
            <div class="image"></div>
            <div class="username">
                Username
            </div>
            <div class="selections">
                <a href="">Edit Profile</a>
                <a href="">Create new post</a>
                <a href="">My posts</a>
            </div>
            <div class="categories">
                <h2 style="color: darkblue;">Categories</h2>
                <div>Python</div>
                <div>Java</div>
                <div>JavaScript</div>
                <div>HTML</div>
            </div>
            <div class="vl"></div>
        </div>
        <div class="content-container">
            <div class="post-container"></div>
        </div>
    </div>
</body>
</html>